body {
  background-image: url("../images/DocBG.png");
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: #2e2e2e;
}

h1 {
  font-family: "Michroma", sans-serif;
  font-size: 55px;
  color: #1f1f1f;
}

h2 {
  font-family: "Covered By Your Grace", cursive;
  color: #ff0000;
}

#word {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: bold;
  border: dotted 1px red;
  padding: 20px 40px;
}

h6 {
  font-size: 20px;
  font-weight: bold;
}

#warning {
  color: red;
  font-weight: bold;
}

.title {
  min-width: 850px;
  background-color: #ffffff;
  text-align: center;
  padding: 15px;
  border-bottom: solid 5px #777777;
  font-size: 40px;
}

.messageContainer {
  min-width: 850px;
  height: 30px;
  font-size: 30px;
  background-color: #303030;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-bottom: solid 5px #777777;
}

.wrapper {
  min-width: 880px;
  max-width: 850px;
  margin: auto;
}

.imageContainer {
  height: 400px;
  width: 350px;
  float: left;
  background-color: #ffffff;
  padding: 20px;
  border: solid 5px #777777;
  margin: 20px 20px;
}

.gamecontainer {
  float: right;
  height: 400px;
  width: 350px;
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  border: solid 5px #777777;
  margin: 20px 20px;
}

#word {
  letter-spacing: 2px;
}
